* {
    box-sizing: border-box;
}

html {
    font-family: 'Catamaran', sans-serif;
    scroll-behavior: smooth;
}

ol li{
    list-style: number;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.global-settings {
    padding: 0 20px;
    height: auto;
}

.menu {
    height: 80px;
    background: #fff;
    position:fixed;
    width:100%;
    display:flex;
    justify-content: space-between;
    z-index: 999;
}

.js-toggler{
    width: 30px;
    border:none;
    margin-right: 20px;
    margin-top: 25px;
    cursor: pointer;
}

.js-menu {
    display:none;
    top: 80px;
    position: absolute;
    right: 0;
    background: #fff;
    left:0;
}

.js-menu li {
    padding-bottom: 10px;
    padding-top: 10px;
}

.js-menu a {
    color: #323232;
    text-decoration: none;
    font-size: 22px;
}

.expanded {
    display: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}

.logo {
    margin: 20px;
    width: 200px;
}

.hero-image {
    background: linear-gradient(#f8c512, #edb60d);
    height: auto;
    text-align: left;
    padding:100px 15px 15px 15px;
}

.title-hero-image {
    font-size: 26px;
    font-weight: 700;
    color: #323232;
    margin: 10px 20px 10px 0px;
}

.white-text {
    color: #fff;
}

.first-claim {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    margin: 40px 20px 10px 0px;
}

.second-claim {
    font-size: 30px;
    font-weight: 900;
    color: #323232;
    margin: 0px 20px 40px 0px;
}

.upperCase {
    text-transform: uppercase;
}

.upperCase-hi{
    text-transform: uppercase;
}

.margin-bottom {
    margin-bottom: 40px;
}

.about-steps {
    background-color: white;
    padding-top:100px;
    padding-bottom: 100px;
}

.about-steps>h2{
    font-size: 30px;
    font-weight:bolder;
    padding-bottom: 20px;
}
.about-steps>ol>li{
    display: flex;
    padding-bottom: 25px;
 }

 .about-steps>ol>li>img{
     width: 55px;
     height: 55px;
    margin-right: 20px;
 }

.about-steps>ol>li>a>h4{
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 5px;
    padding-top: 10px;
}

.about-steps>ol>li>a>p{
    font-size: 17px;
    font-weight: medium;
}

.about-steps>h2>a{
    color: #f8c512;
}

.benefits {
    background-color:#ededed;
    padding-top:100px;
    padding-bottom: 100px;
}

.benefits>h2{
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 25px;
}

.benefits>ul>li>h4{
    font-size: 20px;
    font-weight: bolder;
    padding-top:20px;
    padding-left: 20px;
}

.benefits>ul>li{
   display: flex;
   padding-bottom: 15px;
}

.benefits>ul>li>img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 40px;
    padding: 5px;
    background: white;
}

.benefits>ul{
    padding-bottom: 15px;
}

.subscribe {
    padding-top: 45px; 
    font-family: 'Catamaran', sans-serif;
    color: #323232;
    font-weight: medium;
    font-size: 24px;
    background-color: #f8c512;
    text-align: center;
    padding-bottom: 100px; 
}   

.subscribe h2{
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 55px 0px 30px 0px;
}

.subscribe p{
    text-align: left;
    font-size: 24px;
    text-transform: uppercase;
    padding: 30px 0px 30px 0px;
}

.subscribe .form-consent-box{
    display: flex;
    align-items: baseline;
    padding: 20px 0px 10px 0px;
}

.subscribe .form-consent-checkbox{
    width: auto;
    padding: 0;
    margin: 0 -15px 0px 15px;
}

.subscribe .form-consent-text{
    font-size: 12px;
    text-transform: initial;
    padding: 0px 0px 30px 20px;
    text-align: left;
}

.subscribe input[type=text], input[type=email]{
    width: 100%;
    font-size: 18px; 
    color: #323232;
    padding: 15px 0 10px 0;
    border: none;
    border-bottom: 3px solid #ffffff;
    background-color: #f8c512;
}

.subscribe input::placeholder{
    font-family: 'Catamaran', sans-serif;
    color: #323232;
    opacity: 1;
}

.subscribe .subscribe-button{
    width:50%;
    background: #ffffff;
    border-radius: 30px;
    border: none;
    color: #323232;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 0px 10px 0px;
    cursor: pointer;
    transition: 0.3s;
}

.subscribe-button:hover {
    color: #f8c512;
}


.team {
    background-color: white;
    font-family: 'Catamaran', sans-serif;
    color: #323232;
    font-weight: medium;
    font-size: 24px;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 60px; 
}

.team h2 {
    font-size: 40px;
    font-weight: 999;
    text-transform: uppercase;
    padding: 40px 0px 30px 0px;
}

.user {
    display: block;
    margin: 20px auto;
}

.user:not(:last-of-type) {
    border-bottom: #dddddd 2px solid;
}

.user>img {
    width: 50%;
}

.user>a>img {
    margin: 10px 5px;
    opacity: 1;
    transition: 0.3s;
}


.user>a>img:hover {
    opacity: 0.5;
}

.user h4 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

footer {
    background-image: url(../img/footer.png);
}

footer {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: url(../img/footer.png) no-repeat center;
    background-size: cover;
    color: white; 
}

footer .footer-box{
    display: flex;
    flex-direction: column;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
}

footer .contact{
    padding-top: 15px; 
}

footer .copyright{
    text-decoration: none;
    padding:15px 0px 10px 0px;
}

footer .moveIt{
    padding:5px 0px 5px 0px;
    font-weight: 900;
}

footer img{
    width: 150px;
    height: auto;
    margin-bottom: -5px;
}

/* Media Querries */

@media(min-width: 650px) and (max-width: 959px){
    .subscribe{   
        background: url(../img/pic3.png) no-repeat right bottom, #f8c512;
        background-size: 40% auto;         
    }

    form{
        width: 60%;
    }
    
    .about-steps{
        background: white url(../img/pic1.png) no-repeat right center;
        background-size: 40% auto;
    }

    .benefits{
        background: #ededed url(../img/pic2.png) no-repeat right center;
        background-size: 40% auto;
    }

    .hero-image {
        background:url(../img/reka.png) no-repeat 280px 100px, linear-gradient(#f8c512, #edb60d) ;
        background-size: contain;
        padding-left:50px;
    }
}

@media(min-width: 960px){

    .upperCase {
        text-transform: capitalize;
    }

    .hero-image {
        background:url(../img/reka.png) no-repeat 340px 140px, linear-gradient(#f8c512, #edb60d) ;
        background-size: contain;
        padding: 20px 15px 15px 50px; 
    }

    .subscribe{
        text-align: left;     
        background:url(../img/pic3.png) no-repeat right bottom, #f8c512;
        background-size: 50%;         
    }

    body {
        padding-top: 80px;
    }

    .js-toggler {
        display:none;
    }

    .js-menu {
        position: initial;
        top: 0px;
    }

    .menu {
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 700;
    }

    .desktop-menu {
        display: flex;
        align-items: center;
    }

    .desktop-menu li {
        padding-right: 45px;
    }

    .desktop-menu a{
        text-decoration: none;
        color: #323232;
        font-size: 20px;
    }

    .desktop-menu a:hover{
        color: #f8c512;
        transition: all 0.5s;
    }

    .hero-image {
        background:url(../img/reka.png) no-repeat 400px px, linear-gradient(#f8c512, #edb60d) ;
        /* background-size: contain;*/
        padding-left:120px;
    }

    .title-hero-image {
        font-size: 33px;
    }
    
    .first-claim {
        font-size: 40px;
        margin-top:150px;
    }
    
    .second-claim {
        font-size: 40px;
    }
    
    .margin-bottom {
        margin-bottom: 150px;
    }

    form {
        width: 60%;
    }

    .desktop-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 55%;
        margin-left: 120px;
    }

    .subscribe .form-consent-box {
        width: 70%;
        position: relative;
        left: 3%;
    }

    .subscribe .form-consent-checkbox {
        width: auto;
    }

    .name-input, .email-input {
        position: relative;
        left: 3%;
    }

    footer {
        min-height: 10vh;
        display: flex;
        justify-content: space-around;
        background: url(../img/footer.png) no-repeat center;
        background-size: cover;      
    }
}

@media (min-width: 1160px){
    .subscribe{
        text-align: left;     
        background:url(../img/pic3.png) no-repeat right 40px, #f8c512;
        background-size: contain;         
    }

    form {
        width: 60%;
    }

    .subscribe .subscribe-button {
        width: 50%;
        padding: 15px 0px 10px 0px;
        position: relative;
        left: 40%; 
    }

    footer img {
        width: 200px;
        height: auto;
    }
}

@media(min-width: 610px) {

    .team {
        display: flex;
        flex-wrap: wrap;
    }

    .team h2 {
        width: 100%;
    }

    .user {
        width:40%;
        display: inline-block;
        margin: 20px auto;
    }

    .user:not(:last-of-type) {
        border-bottom: none;
    }
    
    .user>img {
        width: 50%;
    }
}

@media(min-width: 960px) and (max-width: 1270px){
    .about-steps{
        background: white url(../img/pic1.png) no-repeat right center;
        background-size: 40% auto;
        padding-left: 120px;
    }

    .benefits{
        background: #ededed url(../img/pic2.png) no-repeat right center;
        background-size: 35% auto;
        padding-left: 120px;
    }
}

@media(min-width: 1271px){
    .about-steps{
        background: white url(../img/pic1.png) no-repeat right center;
    }

    .benefits{
        background: #ededed url(../img/pic2.png) no-repeat 120px bottom;
        
    }

@media(min-width: 960px){

    .benefits>ul>li{
        padding-left:50%;
    }

    .about-steps{
        padding-left: 120px;
    }

    .about-steps>h2{
        padding-bottom: 45px;
        font-size: 48px;
        font-weight: Black;
        padding-top: 5px;
    }

    .about-steps>ol>li>a>h4{
        font-size: 30px;
        font-weight: ExtraBold;
    }

    .about-steps>ol>li>img{
        width: 75px;
        height: 75px;
       margin-right: 40px;
    }

    .about-steps>ol>li{
        padding-bottom: 45px;
    }
   .about-steps>ol{
       padding-bottom: 30px;
   }

    .about-steps>ol>li>a>h4{
        font-size: 25px;
    }

    .about-steps>ol>li>a>p{
        font-size: 20px;
        padding-top: 5px;
    }

    .benefits{
        padding-left: 120px;
    }

    .benefits>h2{
        font-size: 48px;
        font-weight: Black;
    }

    .benefits>ul>li>h4{
        font-size: 30px;
    }

    .benefits>ul>li>img{
        width: 90px;
        height: 90px;
       margin-right: 40px;
    }

    .benefits{
        padding-top:45px;
        padding-bottom:30px;
    }
    .benefits>h2{
    padding-bottom: 45px;
    }

    .benefits>ul>li{
        padding-bottom: 45px;
    }
    .team {
        display: flex;
        flex-wrap: wrap;
    }

    .team h2 {
        width: 100%;
    }

    .user {
        width:20%;
        display: inline-block;
        margin: 20px auto;
    }

    .user:not(:last-of-type) {
        border-bottom: none;
    }
    
    .user>img {
        width: 50%;
    }

    .user h4 {
        font-size: 20px;
        white-space: nowrap;
    }
}

@media(min-width: 1350px){
    .user h4 {
        font-size: 30px;
    }

    .hero-image {
        background:url(../img/reka.png) no-repeat 800px 115px, linear-gradient(#f8c512, #edb60d) ;
    }

    .benefits{
        background: #ededed url(/img/pic2.png) no-repeat left bottom;
        background-size: 40%;
    }
}

@media(min-width: 1580px){
    
    .hero-image {
        background:url(../img/reka.png) no-repeat 1000px 115px, linear-gradient(#f8c512, #edb60d) ;
        }
    
    .about-steps{
        background: white url(../img/pic1.png) no-repeat 900px 20px;
        background-size: 40%;
        }
    .benefits{
        padding-top: 100px;
        padding-bottom: 100px;
        background: #ededed url(../img/pic2.png) no-repeat 120px bottom;
        background-size: 35%;
    }
    .subscribe{
        text-align: left;     
        background:url(../img/pic3.png) no-repeat right 40px, #f8c512;
        background-size: contain;         
    }
}
}
.disabled{
    opacity: 0.2;
}